---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Timothy Model, Ph.D. | Data Scientist">
  <main>
    <article class="region prose wrapper hero">
      <h1>timothy model</h1> 
      <h2>
        Data science Social science Consulting Speaking
      </h2>
    </article>

    <article class="region prose wrapper">
      <ul role="list" class="grid features">
        <li class="flow">
          <h3>data science</h3>
          <p>
            Senior Data Scientist @ <a href="https://605.tv/"> 605</a>. 
            <p>
            <i class="fa-solid fa-diagram-project fa-fw"></i> Causal inference
            <br>
            <i class="fa-solid fa-chart-line fa-fw"></i> Time series + forecasting
            <br>
            <i class="fa-solid fa-clipboard-list fa-fw"></i> Surveys
            </p> 
            <p>
            Tools I use: <a href="https://www.r-project.org/"><i class="fab fa-r-project"></i></a> &nbsp; <a href="https://www.python.org/"><i class="fa fa-python" aria-hidden="true"></i></a> &nbsp; <a href="https://julialang.org/"><i class="fa fa-julia" aria-hidden="true"></i></a>
            </p>
          </p>
        </li>

        <li class="flow">
          <h3>social science</h3>
          <p>
            10 years of quantitative social science research experience.
            <p>
            Ph.D., <a href="https://polisci.indiana.edu/"> Political Science, Indiana University</a>. 
            </p>
            <p>
            See <a href="https://scholar.google.com/citations?user=LINdfx8AAAAJ&hl=en/"><i class="fas fa-graduation-cap"></i></a> for publications on Russian politics and public health.
            </p>
          </p>
        </li>

        <li class="flow">
          <h3>consulting</h3>
          <p>
            4 years of strategic data and survey consulting for:
            <p>
            <i class="fa-solid fa-tv fa-fw"></i> TV advertising industry
            <br>
            <i class="fa-solid fa-house-medical fa-fw"></i> Fortune 500 med-tech firms
            <br>
            <i class="fa-solid fa-earth-americas fa-fw"></i> Government agencies 
            <br>
            <i class="fa-solid fa-basket-shopping fa-fw"></i> Leading consumer product manufacturers
            </p>
          </p>
        </li>

        <li class="flow">
          <h3>speaking</h3>
          <p>
            I have shared my expertise on a variety of subjects, including data science, data visualization, public health, Russian politics, corruption, and protest politics, with international news outlets, think tanks, academic audiences, and as an expert witness.
          </p>
        </li>

    <footer class="region prose wrapper">
    <img class="profpic" src="/images/tim_img.jpg">
    <div>
      <a href="#" class="email">TimModel<span>@</span></a>
      <a style="padding-left:6px;" href="https://www.linkedin.com/in/timothymodel/"><i class="fab fa-linkedin-in"></i></a> 
      <a style="padding-left:4px;" href="https://github.com/timothymodel"><i class="fab fa-github"></i></a>.
      <br> Copyright © 2023 Timothy Model
    </div>
  </footer>
  </main>
</Layout>