---
import '~/styles/styles.css';
import SEO from './SEO.astro';
import { Head } from 'astro/components';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<!-- Remove the hard-coded dark mode and implement your own if you're into that sort of thing -->
<html lang="en" data-theme="monowhite">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png+xml" href="/images/favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#6B2E30" />

    <SEO />

    <title>{title}</title>

    <!-- preload fonts -->

    <link
      rel="preload"
      href="/fonts/PlusJakartaSans-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin=""
    />
    <link
      rel="preload"
      href="/fonts/PlayfairDisplay-Regular.ttf"
      as="font"
      type="font/ttf"
      crossorigin=""
    />
  </head>
  <body>
    <slot />
  </body>
</html>
